body {
    margin: 0;
    background-color: #111111;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid white;
}

header h1 {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    color: white;
    margin: 0;
}

.logo {
    font-size: 14px;
    font-weight: bold;
}

.logo img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.nav a:hover {
    color: #00ff9d;
}